# Ignore node_modules (for frontend and backend)
node_modules/
certs/
# Ignore build files (frontend)
frontend/build/
 
# Ignore Django migration files or Python bytecode (backend)
backend/__pycache__/
backend/migrations/

# Ignore any service-specific files
microservice1/tmp/
microservice2/logs/

# General ignores
.DS_Store
*.log
*.env

# Ignore Go binary files
*.exe
*.out
*.exe~

# Ignore Go dependency files
vendor/
*.test

# Ignore Go-related build artifacts
*.log

# Ignore Go modules cache
.go/

# Ignore Go IDE or editor files
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

